<div class="form-floating mb-3">
    <select class="form-select" id="ValueField" name="ValueField"></select>
    <label for="ValueField" class="control-label"></label>
    <span id="ValueFieldError" class="text-danger"></span>
</div>
