@model List<Cms.DataNpg.Legal.EF.Category>

@if (Model != null && Model.Count() > 0)
{
    <option selected>@ViewBag.Title_Select.</option>
    foreach (var item in Model)
    {
        <option value="@item.Title" selector="@item.Code">@item.Title</option>
    }
}